/*!
 * HTML Name: Agenccy
 * Version: 1.0.0
 * Author: Idenovasi, Satrya
 * Author URI: https://idenovasi.com/
 * Twitter: https://twitter.com/gasatrya
 */
/*------------------------------------*
    $CONTENTS
*------------------------------------*/
/**
 * BASE
 * - MAIN
 * - SHARED
 * - TYPOGRAPHY
 *
 * MODULES
 * - HEADER
 * - NAVIGATIONS
 * - SIDEBARS
 * - FOOTER
 *
 * PAGES
 * - HOMEPAGE
 */
/*------------------------------------*
	$MAIN
*------------------------------------*/
*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

* html {
	font-size: 100%;
}

html {
	min-height: 100%;
}

body {
	font-family: "Raleway", sans-serif;
	font-size: 16px;
	font-weight: 400;
	font-style: normal;
	line-height: 1.5em;
	color: #555;
	background: #fff;
}

/**
 * Selection Color.
 */
::-moz-selection {
	color: #fff;
	background: #2196f3;
	text-shadow: none;
}
::selection {
	color: #fff;
	background: #2196f3;
	text-shadow: none;
}

::-moz-selection {
	color: #fff;
	background: #2196f3;
	text-shadow: none;
}

/**
 * Preloader
 */
.preloader {
	position: fixed;
	z-index: 99999;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: hidden !important;
	width: 100%;
	height: 100%;
	background-color: #fefefe;
}

.status {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 40px;
	height: 40px;
	margin: -20px 0 0 -20px;
	background-image: url(assets/img/loading.gif);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

/**
 * We need this because we use fixed navigation bar
 */
body {
	padding-top: 120px;
}

@media (max-width: 600px) {
	body {
		padding-top: 50px;
	}
}

/**
 * Bootstrap hack
 */
.row.no-gutters {
	margin-right: 0;
	margin-left: 0;
}

.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
	padding-right: 0;
	padding-left: 0;
}

/*------------------------------------*
	$SHARED
*------------------------------------*/
figure > img {
	display: block;
}

img {
	max-width: 100%;
	height: auto;
}

embed,
iframe,
object {
	width: 100%;
	max-width: 100%;
}

/**
 * Buttons
 */
.btn-transparent {
	font-family: "Oswald", sans-serif;
	color: #fff;
	border: 2px solid #fff;
	background: transparent;
}

.btn-transparent:visited {
	color: #fff;
}

.btn-transparent:hover {
	background-color: #fff;
}

.btn-rounded {
	border-radius: 70px;
}

.btn-large {
	font-size: 18px;
	padding: 11px 45px;
}

@media (max-width: 480px) {
	.btn-large {
		font-size: 14px;
	}
}

@media (max-width: 320px) {
	.btn-large {
		font-size: 12px;
		padding: 8px 40px;
	}
}

/**
 * Change animation duration
 */
.animated {
	-webkit-animation-duration: 1.5s;
	animation-duration: 1.5s;
}

/**
 * Background color
 */
.wrapper-gray {
	background-color: #ecf0f1;
}

.wrapper-accent {
	background-color: #2196f3;
}

/**
 * Spacing
 */
.wide-wrapper {
	padding: 100px 0;
}

.mb-big {
	margin-bottom: 120px;
}

/**
 * Heading
 */
.heading {
	margin-bottom: 100px;
}

.heading h3 {
	font-size: 36px;
	margin-top: 0;
	text-transform: uppercase;
	color: #333;
}

.heading .devider {
	width: 36px;
	margin: 20px auto;
	border-bottom: 2px solid #2196f3;
}

.heading p {
	color: #999;
}

/**
 * Page header
 */
.page-header {
	margin: 0;
	padding: 50px 0;
	color: #999;
	border: 0;
	background-color: #ecf0f1;
}

.page-header .page-title {
	font-size: 26px;
	text-transform: uppercase;
}

.page-header p {
	margin-bottom: 0;
}

/**
 * Background overlay
 */
.overlay-bg {
	position: relative;
	z-index: 1;
}

.overlay-bg::after {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	content: "";
	opacity: .8;
	background: #000;
}

.intro-content-inner {
	*zoom: 1;
}

.intro-content-inner:before,
.intro-content-inner:after {
	display: table;
	content: "";
}

.intro-content-inner:after {
	clear: both;
}

/*------------------------------------*
	$TYPOGRAPHY
*------------------------------------*/
/**
 * Set link colors.
 */
a {
	-webkit-transition: all 200ms ease-in-out 0s;
	transition: all 200ms ease-in-out 0s;
	text-decoration: none;
	color: #2196f3;
}

a:visited {
	color: #0d8aee;
}

a:hover,
a:visited:hover {
	text-decoration: none;
	color: #51adf6;
}

/**
 * Headings.
 */
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Oswald", sans-serif;
	font-weight: 400;
	font-style: normal;
	margin: 12px 0;
	color: #555;
}

h1,
.h1 {
	font-size: 36px;
	line-height: 1.1em;
}

h2,
.h2 {
	font-size: 30px;
	line-height: 1.1em;
}

h3,
.h3 {
	font-size: 24px;
	line-height: 1.3em;
}

h4,
.h4 {
	font-size: 20px;
	line-height: 1.3em;
}

h5,
.h5 {
	font-size: 16px;
}

h6,
.h6 {
	font-size: 14px;
}

p {
	margin: 0 0 24px;
}

/*------------------------------------*
	$HEADER
*------------------------------------*/
/*------------------------------------*
	$NAVIGATIONS
*------------------------------------*/
.navbar {
	border: 0;
	background-color: #fff;
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .1);
	box-shadow: 0 0 10px rgba(0, 0, 0, .1);
}

.navbar-default .navbar-nav {
	margin: 0;
	padding: 0;
	list-style: none;
}

.navbar-default .navbar-nav li a {
	font-size: 12px;
	display: block;
	text-transform: uppercase;
	color: #333;
}

.navbar-default .navbar-nav li a:hover {
	color: #2196f3;
}

@media (min-width: 768px) {
	.navbar-default .navbar-nav li a {
		padding: 50px 20px;
	}
}

.navbar-default .navbar-nav .dropdown-menu {
	padding-top: 0;
	padding-bottom: 0;
	border: 0;
	border-top: 3px solid #2196f3;
	border-radius: 0;
}

.navbar-default .navbar-nav .dropdown-menu > li > a {
	padding: 16px 20px;
	border-bottom: 1px solid #eee;
}

.navbar-default .navbar-nav .fa {
	padding-right: 6px;
}

.navbar-default .navbar-nav .caret {
	position: relative;
	top: -1px;
}

@media (min-width: 768px) {
	.slidenav.navbar-default .navbar-nav li a {
		padding-top: 15px;
		padding-bottom: 15px;
	}
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover {
	background-color: transparent;
}

/**
 * Site Logo
 */
.navbar-brand {
	padding-top: 40px;
	padding-bottom: 50px;
}

@media (max-width: 600px) {
	.navbar-brand {
		padding-top: 15px;
		padding-bottom: 15px;
	}
}

.slidenav.navbar-default .navbar-brand {
	padding-top: 5px;
	padding-bottom: 15px;
}

/*------------------------------------*
	$SIDEBARS
*------------------------------------*/
/*------------------------------------*
	$FOOTER
*------------------------------------*/
.site-footer {
	font-size: 14px;
	padding: 70px 0;
	color: #aaa;
	background-color: #0e0e0e;
}

.site-footer h3 {
	color: #fff;
}

.site-footer p:last-child {
	margin-bottom: 0;
}

.site-footer a {
	color: #fff;
}

@media (max-width: 600px) {
	.site-footer .about {
		margin-bottom: 50px;
	}
}

.site-footer .contact {
	color: #eee;
}

.site-footer .contact li {
	padding: 3px 0;
}

.site-footer .contact .fa {
	font-size: 18px;
	width: 30px;
	padding-right: 5px;
}

.copyrights {
	font-size: 13px;
	padding: 14px 0;
	color: #aaa;
	background-color: #000;
}

.copyrights .fa {
	color: #e91e63;
}

.copyrights a {
	line-height: 1.8;
	color: #aaa;
	border-bottom: 1px dotted #aaa;
}

/*------------------------------------*
	$HOMEPAGE
*------------------------------------*/
/**
 * Intro
 */
.intro-section {
	position: relative;
	overflow: hidden;
	height: 600px;
	padding-top: 100px;
	padding-bottom: 100px;
}

.intro-content {
	position: relative;
	z-index: 99;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	height: 100%;

	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

.intro-content-inner {
	width: 75%;
	text-align: center;
}

.intro-content-inner .intro-title {
	font-family: "Raleway", sans-serif;
	font-size: 18px;
	color: #fff;
}

.intro-content-inner .intro-sub-title {
	font-size: 30px;
	font-weight: 600;
	line-height: 1.5;
	margin-bottom: 40px;
	color: #fff;
}

.intro-bg-section {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

.overlay {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	height: 100%;
	opacity: .7;
	background-color: #000;
}

/**
 * Callout
 */
.callout {
	color: #fff;
}

.callout .cta-subheading {
	font-size: 20px;
}

.callout .cta-heading {
	font-size: 54px;
	text-transform: uppercase;
	color: #fff;
}

@media (max-width: 600px) {
	.callout .cta-heading {
		font-size: 45px;
	}
}

@media (max-width: 480px) {
	.callout .cta-heading {
		font-size: 38px;
	}
}

@media (max-width: 320px) {
	.callout .cta-heading {
		font-size: 24px;
	}
}

/**
 * Features
 */
.service-item {
	margin-bottom: 50px;
}

@media (min-width: 769px) {
	.service-item.reset-margin {
		margin-bottom: 0;
	}
}

.service-item i {
	font-size: 42px;
	line-height: 120px;
	display: block;
	width: 120px;
	height: 120px;
	margin: 0 auto 25px;
	text-align: center;
	color: #2196f3;
	border: 2px solid #2196f3;
	border-radius: 50%;
	background: transparent;
}

.service-item h3 {
	font-size: 18px;
	margin-bottom: 25px;
	text-transform: uppercase;
}

.service-item p {
	font-size: 14px;
	color: #999;
}

/**
 * Project
 */
.img-overlay {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: 0;
	padding: 50px;
	-webkit-transition: all .3s;
	transition: all .3s;
	text-align: center;
	opacity: 0;
	background-color: rgba(0, 0, 0, .75);
}

@media (max-width: 1024px) {
	.img-overlay {
		padding: 35px;
	}
}

.img-overlay:hover {
	opacity: 1;
}

.img-overlay .content-overlay {
	color: #fff;
}

.img-overlay .content-overlay h3 {
	margin-top: 0;
	color: #fff;
}

.img-overlay .content-overlay span {
	font-size: 13px;
	font-style: italic;
	display: block;
}

.img-overlay .content-overlay .zoom-link {
	font-size: 16px;
	line-height: 40px;
	display: inline-block;
	width: 40px;
	height: 40px;
	margin-top: 40px;
	text-align: center;
	color: inherit;
	border: 2px solid #fff;
	border-radius: 50%;
}

@media (max-width: 1024px) {
	.img-overlay .content-overlay .zoom-link {
		margin-top: 20px;
	}
}

@media (max-width: 600px) {
	.img-overlay .content-overlay .zoom-link {
		margin-top: 100px;
	}
}

@media (max-width: 320px) {
	.img-overlay .content-overlay .zoom-link {
		margin-top: 30px;
	}
}

.img-overlay .content-overlay .zoom-link:hover {
	background-color: #fff;
}

.img-overlay .content-overlay .zoom-link:hover i {
	color: #555;
}

/**
 * Team
 */
@media (max-width: 768px) {
	.team-item {
		margin-bottom: 25px;
	}
}

@media (max-width: 600px) {
	.team-item img {
		width: 100%;
	}
}

.team-item img {
	border-radius: 3px 3px 0 0;
}

.team-detail {
	position: relative;
	padding: 10px 20px;
	border-radius: 0 0 3px 3px;
	background-color: #f5f5f5;
	-webkit-box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, .05);
	box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, .05);
}

.team-detail::before {
	position: absolute;
	top: -15px;
	right: 0;
	left: 0;
	width: 0;
	height: 0;
	margin-right: auto;
	margin-left: auto;
	content: "";
	border-right: 15px solid transparent;
	border-bottom: 15px solid #f5f5f5;
	border-left: 15px solid transparent;
}

.team-detail h3 {
	font-family: "Raleway", sans-serif;
	font-size: 20px;
	font-weight: 400;
	margin-bottom: 4px;
}

.team-detail span {
	font-size: 13px;
	color: #999;
}

.team-detail .team-social {
	font-size: 30px;
	margin-top: 30px;
}

.team-detail .team-social li {
	padding: 0;
}

.team-detail .team-social li.twitter a {
	color: #55acee;
}

.team-detail .team-social li.facebook a {
	color: #3b5998;
}

.team-detail .team-social li.linkedin a {
	color: #0077b5;
}

.team-detail .team-social a {
	color: #555;
}

.team-detail .team-social a:hover {
	color: #2196f3;
}

/**
 * Testimonials
 */
.testimonials {
	min-height: 100%;
	background-image: url("assets/img/testimonial.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center center;
	background-size: cover;
}

.testimonials-heading {
	position: relative;
	z-index: 9;
}

.testimonials-heading h3 {
	color: #fff;
}

.flexslider {
	z-index: 9;
	margin: 0;
	border: 0;
	border-radius: 0;
	background: transparent;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.flexslider .slides .testimonials-item {
	position: relative;
	z-index: 9;
}

.flexslider .slides img {
	display: inline-block;
	width: 80px;
	height: 80px;
	margin-bottom: 30px;
	border-radius: 80px;
}

.flexslider .slides p {
	font-family: "Georgia", serif;
	font-size: 20px;
	font-style: italic;
	line-height: 1.5;
	width: 70%;
	margin: 0 auto 45px;
	color: #fff;
}

@media (max-width: 1024px) {
	.flexslider .slides p {
		font-size: 18px;
	}
}

@media (max-width: 600px) {
	.flexslider .slides p {
		font-size: 16px;
	}
}

@media (max-width: 320px) {
	.flexslider .slides p {
		font-size: 14px;
		font-style: normal;
	}
}

.flexslider .slides .name {
	font-size: 14px;
	display: block;
	color: #eee;
}

.flexslider .flex-direction-nav a {
	background: transparent;
}

.flexslider .flex-direction-nav a::before {
	font-size: 23px;
	color: #fff;
	text-shadow: none;
}

/**
 * Client
 */
@media (max-width: 768px) {
	.client-item {
		margin-bottom: 50px;
		text-align: center;
	}
}

.client-item img {
	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;

	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}

.client-item img:hover {
	-webkit-filter: grayscale(0%);
	filter: grayscale(0%);
}
